<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        
        <title>Polytons</title>
        <link rel='stylesheet' type="text/css"  href="{% static 'css/style.css' %}" />

    </head>

    <body>
    <header>
        <h1>Polytons</h1>
        
    <nav>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="sites">View Sites</a></li>
        </ul>
    </nav>

    <main>

        <article>
        </article>

        <aside>
        <aside>
    </main>

    <footer>
        <p>©Copyright 2050 by nobody. All rights reversed.</p>
    </footer>

  </body>
</html>
