<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        
        <title>Polytons</title>
        <link rel='stylesheet' type="text/css"  href="{% static 'css/style.css' %}" />

    </head>

    <body>
    <header>
        <h1>Polytons</h1>
    </header>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="{% url 'create_site' %}">Create a Site</a></li>
            <li><a href="{%  url 'site_view' %}">View Sites</a></li>
        </ul>
    </nav>

    <main>

        <article>
        </article>

        <aside>
            <ol>
            {% for entry in recent_actions %}
                <li>{{ entry.entry }} at {{ entry.input_time }}</li>
            {% endfor %}
            </ol>
        </aside>
    </main>

    <footer>
        <p>©Copyright 2050 by nobody. All rights reversed.</p>
    </footer>

  </body>
</html>
